/* Step 2: Import the Reset */
@import url(./reset.css);
/* End of Reset */


/* Step 3: Import the Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');
/* End of Fonts */

 html, body, header, main, section {
    scroll-behavior: smooth;
 }
p {
    margin: 1.2em;
    line-height: 1.5em;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}



#section-1 {
    font-family: 'abyssinica', sans-serif;
    font-size: 44px;
    margin: 1em;
    line-height: 1.5em;
    text-align: center;
    color: rebeccapurple;
 }

 #titlep {
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    margin: 0.5em;
    color: red;
    
 }

 #section-2{
    font-family: 'Roboto', sans-serif;

 }

 #me {
    width: 300px;
    margin: 0 0.1em;

 }
 #section-2 > div:nth-child(1) > figure {
    margin-top: 2em;
    margin: 0em;
    float: left;
    padding: 2em;
    
 }

 #section-2 > div:nth-child(2) {
    background-color: white;
    color: rgba(135, 1, 1, 0.949);
    font-family: 'roboto', sans-serif;
    width: 80%;
    margin: 0 auto;
 }

 #section-2 > div:nth-child(1) {
    background-color: rgb(156, 77, 231);
    color: black;
    font-family: 'Abyssinica', sans-serif;
    margin: 2em;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px
 }
 #section-2 > div:nth-child(3) {
    background-color: rgb(156, 77, 231);
    color: black;
    font-family: 'Abyssinica', sans-serif;
    margin: 2em;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
 }

 cite {
    display: block;
    background-color: #333;
    color:#fff;
    width: 90%;
    padding: 0.5em;
 }